<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" href="css/contactus.css">
    </head>

  <body>
    <div id="background">
      <div id="form-background">
        <h3 id="header">Book your call</h3>

        <p>
          <small
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita,
            sed.</small
          >
        </p>
        <hr />
        <br />

        <form id="form" action="/contactus/success" method="post">
          <div class="form-el">
            <label for="name">Name</label><br />

            <input type="text" id="name" name="name" /><br />
          </div>

          <div class="form-el">
            <label for="email">Email</label><br />

            <input type="email" id="email" name="email" /><br />
          </div>

          <div class="form-el">
            <input id="submit" type="submit" value="GET A CALL" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
